.app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5887A1;
}

.footer > a {
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer > a > img {
    height: 85%;
}

.footer > a > img:hover {
    filter: drop-shadow(0px 5px 15px #ffffff);
}