.app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5887A1;
}

.footer > a {
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
}

.footer > a:hover {
    color: #ff9d50;
    font-size: 1.5rem;
}